extends layout

block content

    h1= Login
    include messages/logMsg


    form(method="POST")
        .form-group
            label Email:
            input.form-control(type="text", name="email")
        .form-group
            label Password:
            input.form-control(type="password", name="password")

        input.btn.btn-primary(type="submit", value="Submit", onclick='myLogin()')


