if (typeof error !== "undefined")
    .alert.alert-warning.alert-dismissible.fade.show(role='alert')
        span=error
        button.close(type='button', data-dismiss='alert', aria-label='Close')
            span(aria-hidden='true') ×
